/* ==========================================================
   RACES (couleurs des noms dans le texte)
   ========================================================== */

.amazone{
    color:#17BEBB;
    font-weight:700;
}

.gobelin{
    color:#8B1E3F;
    font-weight:700;
}

.delf{
    color:#D0FC08;
    font-weight:700;
}

.hobbit{
    color:#D9BC1E;
    font-weight:700;
}

.kislev{
    color:#fff;
    font-weight:700;
    -webkit-text-stroke:.1px black;
}

.nain{
    display:inline-block;
     font-weight:700;

    background:linear-gradient(
        to bottom,
        #d00000 0%, 
        #d00000 50%,
        #ffffff 60%,
        #008c45 70%,
        #008c45 100%
    );

    background-clip:text;
    -webkit-background-clip:text;

    color:transparent;
    -webkit-text-fill-color:transparent;
}

.necro{
    color:#45646b;
    font-weight:700;
    -webkit-text-stroke:.1px black;
}

.ogre{
    color:#FFA500;
    font-weight:700;
    -webkit-text-stroke:.1px black;
}


/* ==========================================================
   TEAMS (noms des équipes)
   ========================================================== */

.amazoneteam{
    color:#17BEBB;
    font-weight:700;
    -webkit-text-stroke:0.5px black;
}

.delfteam{
    color:#D0FC08;
    font-weight:700;
}

.gobelinteam{
    color:#8B1E3F;
    font-weight:700;
    -webkit-text-stroke:0.5px black;
}

.hobbitteam{
    color:#D9BC1E;
    font-weight:700;
    -webkit-text-stroke:0.5px black;
}
   
.kislevteam{
    color:#fff;
    font-weight:700;
    -webkit-text-stroke:0.5px black;
}

.nainteam{
    display:inline-block;

    background:linear-gradient(
        to bottom,
        #d00000 0%,
        #ffffff 50%,
        #008c45 100%
    );

    background-clip:text;
    -webkit-background-clip:text;

    color:transparent;
    -webkit-text-fill-color:transparent;
}

.necroteam{
    color:#45646b;
    font-weight:700;
    -webkit-text-stroke:1px black;
}

.ogreteam{
    color:#FFA500;
    font-weight:700;
    -webkit-text-stroke:1px black;
}


/* ==========================================================
   HOVER ROUGE
   ========================================================== */

.delf:hover,
.delfteam:hover,
.gobelin:hover,
.gobelinteam:hover,
.kislev:hover,
.kislevteam:hover,
.necro:hover,
.necroteam:hover{
    color:#FF3030;
    text-shadow:0 0 6px #FF3030;
}


/* ==========================================================
   HOVER BLEU
   ========================================================== */

.amazone:hover,
.amazoneteam:hover,
.hobbit:hover,
.hobbitteam:hover,
.ogre:hover,
.ogreteam:hover{
    color:#00BFFF;
    text-shadow:0 0 6px #00BFFF;
}


/* ==========================================================
   SCORE
   ========================================================== */

.score{
    color:#fff;
    font-weight:700;
    font-size:64px;
    text-shadow:
        -1px -1px 1px rgba(0,0,0,.4),
         1px -1px 1px rgba(0,0,0,.4),
        -1px  1px 1px rgba(0,0,0,.4),
         1px  1px 1px rgba(0,0,0,.4);
}
