/* ==========================================================
   RACES (couleurs des noms dans le texte)
   ========================================================== */

.amazone{
    color:#17BEBB;
    font-weight:700;
}


.baf{
    color:#801414;
    font-weight:700;
}

.bret{
    color:#FF2E2E;
    font-weight:700;
}

.chaos{
    color:#EB8A17;
    font-weight:700;
}

.delf{
    color:#D0FC08;
    font-weight:700;
}

.gobelin{
    color:#8B1E3F;
    font-weight:700;
}


.helf{
    color:#00A2FF;
    font-weight:700;
}


.hlezard{
   color:#a3cff3;
   font-weight:700;
}
      
.hobbit{
    color:#D9BC1E;
    font-weight:700;
}

.human{
    color:#008000 ;
    font-weight:700;
}


.khemri{
    color:#F7DFAD;
    font-weight:700;
}


.kislev{
    color:#fff;
    font-weight:700;
    -webkit-text-stroke:.1px black;
}

.nain{
    display:inline-block;
     font-weight:700;

    background:linear-gradient(
        to bottom,
        #ef605e 0%, 
        #ef605e 50%,
       /* #ffffff 60%, */
        #008c45 70%,
        #008c45 100%
    );

    background-clip:text;
    -webkit-background-clip:text;

    color:transparent;
    -webkit-text-fill-color:transparent;
}

.necro{
    color:#45646b;
    font-weight:700;
    -webkit-text-stroke:.1px black;
}

.norsk{
    color:#996633;
    font-weight:700;
    -webkit-text-stroke:0.1px black;
}



.nurgle{
    color:#A927E8;
    font-weight:700;
}

.ogre{
    color:#FFA500;
    font-weight:700;
    -webkit-text-stroke:.1px black;
}

.orc{
    color:#FF9CF4;
    font-weight:700;
    -webkit-text-stroke:.1px black;
}

.skaven{
    color:#ffcc00;
    font-weight:700;
    -webkit-text-stroke:0.1px white;
}



.uelf{
    color:#9933ff;
    font-weight:700;
   }

.undead{
    color:#666666;
    font-weight:700;
   }

.vamp{
    color:#666666;
    font-weight:700;
   }

.welf{
    color:#5bff4d;
    font-weight:700;
}



/* ==========================================================
   TEAMS (noms des équipes)
   ========================================================== */

.amazoneteam{
    color:#17BEBB;
    font-weight:700;
       -webkit-text-stroke:0.4px white;
}

.bafteam{
    color:#801414;
    font-weight:700;
       -webkit-text-stroke:0.7px white;
}

.bretteam{
    color:#FF2E2E;
    font-weight:700;
       -webkit-text-stroke:0.7px white;
}

.chaosteam{
    color:#EB8A17;
    font-weight:700;
       -webkit-text-stroke:0.7px white;
}

.delfteam{
    color:#D0FC08;
    font-weight:700;
       -webkit-text-stroke:0.7px white;
}



.gobelinteam{
    color:#8B1E3F;
    font-weight:700;
    -webkit-text-stroke:0.2px white;
}

.helfteam{
    color:#00A2FF;
    font-weight:700;
       -webkit-text-stroke:0.7px white;
}

.hlezardteam{
   color:#a3cff3;
   font-weight:700;
       -webkit-text-stroke:0.7px white;
}

.hobbitteam{
    color:#D9BC1E;
    font-weight:700;
    -webkit-text-stroke:0.4px white;
}

.khemriteam{
    color:#F7DFAD;
    font-weight:700;
       -webkit-text-stroke:0.7px white;
}
   
.kislevteam{
    color:#fff;
    font-weight:700;
    -webkit-text-stroke:0.7px white;
}

.nainteam{
    display:inline-block;

   background:linear-gradient(
        to bottom,
        #d00000 0%,
              #d00000 25%,
        #ffffff 50%,
       #008c45 75%,
        #008c45 100%
    );

    background-clip:text;
    -webkit-background-clip:text;

    color:transparent;
    -webkit-text-fill-color:transparent;
       -webkit-text-stroke:0.7px white;
}

.necroteam{
    color:#45646b;
    font-weight:700;
    -webkit-text-stroke:0.7px white;
}

.norskteam{
    color:#996633;
    font-weight:700;
    -webkit-text-stroke:0.7px white;
}

.nurgleteam{
    color:#A927E8;
    font-weight:700;
    -webkit-text-stroke:0.7px white;
}

.ogreteam{
    color:#FFA500;
    font-weight:700;
    -webkit-text-stroke:0.7px white;
}

.orcteam{
    color:#FF9CF4;
    font-weight:700;
    -webkit-text-stroke:0.7px white;
}

.skaventeam{
    color:#ffcc00;
    font-weight:700;
       -webkit-text-stroke:0.7px white;
}

.uelfteam{
    color:#9933ff;
    font-weight:700;
       -webkit-text-stroke:0.7px white;
   }

.undeadteam{
    color:#333333;
    font-weight:700;
    -webkit-text-stroke:0.7px white;
   }

.vampteam{
    color:#333333;
    font-weight:700;
    -webkit-text-stroke:0.7px white;
   }

.welfteam{
    color:#5bff4d;
    font-weight:700;
       -webkit-text-stroke:0.7px white;
}


/* ==========================================================
   HOVER 
   ========================================================== */

.bleu:hover{
    color:#00BFFF !important;
    text-shadow:0 0 6px #00BFFF;
   -webkit-text-fill-color: #00BFFF;
   -text-shadow: 0 0 6px #00BFFF;
}

.rouge:hover{
    color:#FF3030 !important;
    text-shadow:0 0 6px #FF3030;
       -webkit-text-fill-color: #FF3030;
   - text-shadow: 0 0 6px #FF3030;
}


/* ==========================================================
   SCORE
   ========================================================== */

.score{
    color:#fff;
    font-weight:700;
    font-size:64px;
    text-shadow:
        -1px -1px 1px rgba(0,0,0,.4),
         1px -1px 1px rgba(0,0,0,.4),
        -1px  1px 1px rgba(0,0,0,.4),
         1px  1px 1px rgba(0,0,0,.4);
}

.chapt{
    color:#ffd34d;
    font-weight:700
}

