@font-face {
    font-family: "Gutcruncher";
    src: url("../fonts/Gutcruncher Italic.otf") format("truetype");
}

/* couleurs de texte des différentes équipes/score */
.amazone{
    color:#17BEBB;
    font-weight:500;
}

.amazone:hover{
    color:#00BFFF;              /* bleu vif */
    text-shadow:0 0 6px #00BFFF;
}

.amazoneteam{
    font-family:"Gutcruncher", sans-serif;
    color:#17BEBB;
    font-weight:700;
    -webkit-text-stroke:1px black;
}

.amazoneteam:hover{
    color:#00BFFF;              /* bleu vif */
    text-shadow:0 0 6px #00BFFF;
}

.gobelin{
    color:#8B1E3F;
    font-weight:500;
}

.gobelin:hover{
    color:#FF3030;              /* rouge vif */
    text-shadow:0 0 6px #FF3030;
}

.gobelinteam{
    font-family:"Gutcruncher", sans-serif;
    color:#8B1E3F;
    font-weight:700;
    -webkit-text-stroke:1px black;
}

.gobelinteam:hover{
    color:#FF3030;              /* rouge vif */
    text-shadow:0 0 6px #FF3030;
}

.kislev{
    color:#FFFFFF;
    font-weight:500;
   -webkit-text-stroke: 0.1px black;
}

.kislev:hover{
    color:#FF3030;              /* rouge vif */
    text-shadow:0 0 6px #FF3030;
}

.kislevteam{
    font-family:"Gutcruncher", sans-serif;
    color:#FFFFFF;
    font-weight:500;
   -webkit-text-stroke: 1px black;
}

.kislevteam:hover{
    color:#FF3030;              /* rouge vif */
    text-shadow:0 0 6px #FF3030;
}

.ogre{
    color:#FFA500;
    font-weight:500;
   -webkit-text-stroke: 0.1px black;
}

.ogre:hover{
    color:#00BFFF;              /* bleu vif */
    text-shadow:0 0 6px #00BFFF;
}

.ogreteam{
     font-family:"Gutcruncher", sans-serif;
    color:#FFA500;
    font-weight:500;
   -webkit-text-stroke: 1px black;
}

.ogreteam:hover{
    color:#00BFFF;              /* bleu vif */
    text-shadow:0 0 6px #00BFFF;
}


.delf{
    color:#D0FC08;
    font-weight:500;
     text-shadow:
        -1px -1px 1px rgba(0,0,0,0.4),
         1px -1px 1px rgba(0,0,0,0.4),
        -1px  1px 1px rgba(0,0,0,0.4),
         1px  1px 1px rgba(0,0,0,0.4);
}

.hobbit{
    color:#D9BC1E;
    font-weight:500;
     text-shadow:
        -1px -1px 1px rgba(0,0,0,0.4),
         1px -1px 1px rgba(0,0,0,0.4),
        -1px  1px 1px rgba(0,0,0,0.4),
         1px  1px 1px rgba(0,0,0,0.4);
}

    .score{
    color:#FFFFFF;
    font-weight:500;
    font-size:64px;
     text-shadow:
        -1px -1px 1px rgba(0,0,0,0.4),
         1px -1px 1px rgba(0,0,0,0.4),
        -1px  1px 1px rgba(0,0,0,0.4),
         1px  1px 1px rgba(0,0,0,0.4);
}
