/* corps de texte et background */

body{
    font-family: Segoe UI, Arial, sans-serif;
    max-width:1000px;
    margin:auto;
    line-height:1.45;
    text-align:center;
background:
linear-gradient(
    to right,
    rgba(255,255,255,0)    0%,
    rgba(255,255,255,0.40) 18%,
    rgba(255,255,255,0.95) 45%,
    rgba(255,255,255,1.00) 50%,
    rgba(255,255,255,0.95) 55%,
    rgba(255,255,255,0.40) 82%,
    rgba(255,255,255,0)    100%
);
        url('../images/wp.jpg');

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    min-height:100vh;
    
}


pre{
    white-space:pre-wrap;
    font-family:inherit;
}

a{
    text-decoration:none;
}

/* Menu fixe Blood Bowl */
.menu-fixe{
    position:fixed;
    top:20px;
    left:20px;

    display:flex;
    flex-direction:column;
    gap:12px;

    z-index:1000;
}

.menu-fixe a{
    display:flex;
    align-items:center;
    gap:10px;

    text-decoration:none;
    color:white;
    font-weight:bold;
    font-size:20px;

    text-shadow:
        2px 2px 2px #000,
        0 0 6px #000;
}

.menu-fixe a:hover{
    color:#ffd34d;
}

.menu-fixe img{
    width:90px;
    height:90px;
    object-fit:contain;
    transition:transform .15s;
}

.menu-fixe a:hover img{
    transform:scale(1.15) rotate(-8deg);
}

/* illustration gauche */
.bg-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    opacity: 0.6;
    z-index: 0;
}

/* illustration droite */
.bg-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    opacity: 0.6;
    z-index: 0;
}

/* noms d'équipes à gauche et droite */
.nom-gauche,
.nom-droite{
    position: fixed;
    top: 75%;
    width: 25vw;
    text-align: center;

    font-size: 2rem;
    font-weight: 700;

    transform: translateY(10px);
}

.nom-gauche{
    left: 0;
    transform: translate(15px, 10px);
}

.nom-droite{
    right: 0;
    transform: translate(-15px, 10px);
}


/* couleurs de texte des différentes équipes/score */
.amazone{
    color:#17BEBB;
    font-weight:700;
    text-shadow:
        -1px -1px 1px rgba(0,0,0,0.6),
         1px -1px 1px rgba(0,0,0,0.6),
        -1px  1px 1px rgba(0,0,0,0.6),
         1px  1px 1px rgba(0,0,0,0.6);
}

.gobelin{
    color:#8B1E3F;
    font-weight:700;
     text-shadow:
        -1px -1px 1px rgba(0,0,0,0.2),
         1px -1px 1px rgba(0,0,0,0.2),
        -1px  1px 1px rgba(0,0,0,0.2),
         1px  1px 1px rgba(0,0,0,0.2);
}

.kislev{
    color:#FFFFFF;
    font-weight:700;
     text-shadow:
        -1px -1px 1px rgba(0,0,0,0.4),
         1px -1px 1px rgba(0,0,0,0.4),
        -1px  1px 1px rgba(0,0,0,0.4),
         1px  1px 1px rgba(0,0,0,0.4);
}

.ogre{
    color:#FFA500;
    font-weight:700;
     text-shadow:
        -1px -1px 1px rgba(0,0,0,0.4),
         1px -1px 1px rgba(0,0,0,0.4),
        -1px  1px 1px rgba(0,0,0,0.4),
         1px  1px 1px rgba(0,0,0,0.4);
}

.delf{
    color:#D0FC08;
    font-weight:700;
     text-shadow:
        -1px -1px 1px rgba(0,0,0,0.4),
         1px -1px 1px rgba(0,0,0,0.4),
        -1px  1px 1px rgba(0,0,0,0.4),
         1px  1px 1px rgba(0,0,0,0.4);
}

.hobbit{
    color:#D9BC1E;
    font-weight:700;
     text-shadow:
        -1px -1px 1px rgba(0,0,0,0.4),
         1px -1px 1px rgba(0,0,0,0.4),
        -1px  1px 1px rgba(0,0,0,0.4),
         1px  1px 1px rgba(0,0,0,0.4);
}

    .score{
    color:#FFFFFF;
    font-weight:700;
    font-size:64px;
     text-shadow:
        -1px -1px 1px rgba(0,0,0,0.4),
         1px -1px 1px rgba(0,0,0,0.4),
        -1px  1px 1px rgba(0,0,0,0.4),
         1px  1px 1px rgba(0,0,0,0.4);
}

/* forcer un espace depuis paragraphe bas/haut */
.bas {
    margin-top: 100px; /* espace au-dessus */
}

.haut {
    margin-bottom: 100px; /* espace au-dessous */
} 

