@font-face {
    font-family: "Gutcruncher";
    src: url("../fonts/Gutcruncher Italic.otf") format("opentype");
}

/* texte blanc par défaut pour plus utiliser le pre */
.texte{
    white-space:pre-wrap;
}

/* virer la marge du navigateur par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* corps de texte et background */

body{
    font-family: Segoe UI, Arial, sans-serif;
    max-width:1000px;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    line-height:1.45;
    text-align:center;
    

    background: url('../images/wpdark.jpg') center/cover no-repeat fixed;

    min-height:100vh;
}


pre{
    white-space:pre-wrap;
    font-family:inherit;
}

/* liens hypertextes */
a{
    color:#6ec8ff;
    text-decoration:underline;
}

a:hover{ /* quand la souris passe dessus */
    color:#ffd34d;
}


/* zone de texte pour le défilement */
main{
    position:fixed;

    top:120px;
    bottom:10px;

    left:50%;
    transform:translateX(-50%);

    width:1000px;

    overflow-y:auto;
    overflow-x:hidden;

    /* masque la barre de défilement dégueu */
    scrollbar-width:none;

    color:#fff;

    text-shadow:
        0 1px 2px #000,
        0 2px 6px #000,
        0 0 12px rgba(0,0,0,.8);

    padding:20px;
    
    /* Fondu du contenu vers le haut */
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0px,
        black 120px,
        black 100%
    );

    mask-image: linear-gradient(
        to bottom,
        transparent 0px,
        black 120px,
        black 100%
    );
    
}

main::-webkit-scrollbar{
    display:none;
}


/* Menu fixe Blood Bowl SOMMAIRE et Match */
.menu-fixe{
    position:fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);

    display:flex;
    flex-direction:row;
    align-items: center;
    gap:15px;

    z-index:1000;
}

.menu-fixe a{
    display:flex;
    align-items:center;
    gap:30px;

    margin-bottom:0px;   /* rapproche les lignes */

    text-decoration:none;
    color:white;
    font-weight:bold;
    font-size:20px;

    text-shadow:
        2px 2px 2px #000,
        0 0 6px #000;
}

.menu-fixe a:hover{
    color:#ffd34d;
}

.menu-fixe img{
    width:110px;
    height:110px;
    object-fit:contain;
    transition:transform .15s;
}

.menu-fixe a:hover img{
    transform:scale(1.15) rotate(-8deg);
}

 /* logos VERSUS */
.logos-match{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
}

.logos-match img{
    width:clamp(80px, 15vw, 200px);
    height:auto;
}

/* blocs illustration et texte */
.bloc-gauche,
.bloc-droite{
    position:fixed;
    top:-40px;
    width:25vw;
    height:100vh;
}

.bloc-gauche{
    left:2%;
}

.bloc-droite{
    right:2%;
}

/* images des blocs */
.bg-left,
.bg-right{
    width:100%;
    height:100%;

    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;

    opacity:.6;
    z-index:0;
    pointer-events:none;
}

/* noms des équipes des blocs */
.nom-gauche,
.nom-droite{
    position:absolute;
    bottom:120px;
    width:100%;
    font-size:30px;
    font-weight:700;
}

.nom-gauche{
    text-align:left;
    left:20%;
}

.nom-droite{
    text-align:right;
    right:20%;
}

/* forcer un espace depuis paragraphe bas/haut */
.bas {
    margin-top: 100px; /* espace au-dessus */
}

.haut {
    margin-bottom: 100px; /* espace au-dessous */
} 

/* screenshots d'illustration */
.photo-match{
    margin:8px 0;
    text-align:center;
}

.photo-match img{
    width:85%;
    max-width:900px;
    height:auto;

    border:3px solid #f5f5f5;
    border-radius:6px;

    background:#111;
    padding:5px;

    box-shadow:
        0 0 25px rgba(0,0,0,.85),
        0 0 6px rgba(255,255,255,.25);

    transition:transform .2s;
}

.photo-match img:hover{
    transform:scale(1.02);
}

.photo-match h3{ /* titre au dessus */
    margin-bottom:12px;
    color:#ddd;
    font-size:1.3rem;
    text-shadow:0 2px 5px #000;
}

 /* clean si image trop petite sur smartphone */
@media (max-width: 900px) {

    .bloc-gauche,
    .bloc-droite{
        display:none;
    }

    main{
        width:95%;
        left:50%;
        transform:translateX(-50%);
    }

    .menu-fixe img{
        width:80px;
        height:80px;
    }

}

