body{
    font-family:Segoe UI,Arial,sans-serif;
    max-width:1000px;
    margin:auto;
    line-height:1.45;
}

pre{
    white-space:pre-wrap;
    font-family:inherit;
}

a{
    text-decoration:none;
}

.amazone{
    color:#17BEBB;
    font-weight:700;
}

.gobelin{
    color:#8B1E3F;
    font-weight:700;
}
